img {
    width:100%;
    object-fit:contain;
    

}

#topper {
    background-color: black;
}

h1{
    color: white;
    font-family: 'Baskervville', serif;
    font-size: 50px;
}
h2{ color: white;
    font-family: 'Handlee', cursive;
    font-size: 30px;
}
h3{
    color: white;
    font-family: 'Baskervville', serif;
    font-size: 15px;
    
}
h4{color: white;
font-family: 'Baskervville', serif;
    font-size:13px;
    
}
h5{color:black;
    font-family: 'Baskervville', serif;
    font-size: 12px;
    text-align: center;

}
p{
    padding: 30px 150px 0px 150px;
    color:black;
    font-family: 'Baskervville', serif;
    font-size: 18px;

}

.quote{ font-family: 'Baskervville', serif;
    font-size: 25px; 
    padding: 5px 150px 0px 150px;
    margin:auto;
     border-top:5px solid #6B7D7D;
    border-bottom: 5px solid #6B7D7D;
    text-align:center;
}


.img-sized {
    width: 100%;
    padding: 30px 150px 0px 150px;

    
}
.caption{
    padding:0px 150px 0px 150px;
    font-size:13px;
    font-family:'Baskervville', serif;
    text-align: center;
}

.flourish-embed {
    padding: 30px 150px 0px 150px;
    
}

@media (min-width:576px) {
    #img{width:100%;
        
        
    }
    
}

@media (min-width:992px) {
     #img{width:100%;
}