/*
MY COLOR PALETTE
Color 1 - #0E3C44
Color 2 - #CBC5EA
Color 3 - #E0E0E0
Color 4 - #1D7874
Color 5 - #ABCEA1
*/

body {
    background-color:#E0E0E0;
    text-align: center
        
      
          
}
button {
    background-color:#ABCEA1;
    color:#0E3C44;
    width:200px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px 50px 50px;
    border: none;
    border-radius: 6px;
    
}

button:hover {
    background-color:#CBC5EA;
}
h1{
    font-family: 'comfortaa;'
           
}
h2{
    font-family: 'comfortaa' 
    }
    